@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #161821;
    color: #C6C8D0;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

legend {
    color: #D57E7B;
    font-size: 17px;
    font-weight: bold;
}

fieldset {
    border: 1px solid #89A0C3;
    box-sizing: border-box;
    margin-top: 5px;
    margin: 0;
    padding: 10px;
    padding-top: 3px;
}

h1 {
    margin: 0;
    color: #92B7C0;
    text-align: center;
}

.tagline {
    text-align: center;
    color: #9E94C3;
}

a {
    color: #B6BD88;
    text-decoration: none;
    border-bottom: 1px dashed #07364280;
}

a:visited {
    color: #B6BD88;
}

a:hover {
    opacity: .80;
}

i {
    width: 19px;
    text-align: center;
}

/* General */

.main-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}


/* Info box */

.info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0; /* don't let this column grow */
    flex-shrink: 0;
    justify-content: center;
    padding: 5px;
    padding-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Portfolio content */

.portfolio-container {
    box-sizing: border-box;
    padding-top: 0;
}

.portfolio {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.portfolio-item {
    font-size: 15px;
    margin: 0 5px;
    flex-grow: 1;
    max-width: 500px;
}

.portfolio-item:first-of-type {
    margin-top: 0;
}

.portfolio-item > div:first-of-type {
    margin-bottom: 10px;
}
